/auto-save-list/*
/backups/*
*.elc
history
lastdir
tramp
cookies
*~
*.desktop
*.desktop.lock
el-get/*
el-get/*.el
saveplace
session*
nil/*
nil
passwords.el
/chromedriver.log
/.prove
/passwords.el
/tumblr-oauth-token
*cache/
/.DS_Store
/projectile.cache
/ensime_*
/ac-comphist.dat
/libpeerconnection.log
/whee
/dg-passwords.el
archive-contents