[submodule "snippets"]
	path = snippets
	url = https://github.com/gempesaw/snippets.git
[submodule "alert"]
	path = alert
	url = https://github.com/jwiegley/alert
[submodule "lewang-flx"]
	path = lewang-flx
	url = https://github.com/lewang/flx
[submodule "js-align"]
	path = js-align
	url = https://github.com/johnhooks/js-align.git
[submodule "swagger-jsdoc-edit"]
	path = swagger-jsdoc-edit
	url = https://github.com/gempesaw/swagger-jsdoc-edit.el.git
