/auto-save-list/*
/backups/*
*.elc
history
lastdir
tramp
cookies
*~
*.desktop
*.desktop.lock
el-get/*
el-get/*.el
saveplace
session*
nil/*
nil
/chromedriver.log
/.prove
/tumblr-oauth-token
*cache/
/.DS_Store
/projectile.cache
/ensime_*
/ac-comphist.dat
/libpeerconnection.log
/whee
archive-contents
/projectile-bookmarks.eld
/ido.last
.cask
/mockSauceTunnel
/dg-elisp/dg-passwords.el
/recentf
/elpa/gnupg/
/network-security.data
/elpa/archives/gnu/archive-contents.signed
classpath*SNAPSHOT
ensime/
image-dired/
/elpa
/transient
eclipse.jdt.ls
workspace
.lsp*
/diary
/forge-database.sqlite
/forge-database-v7-20220624-1544.sql
